body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

body:before {
    content: "";
    position: fixed; /* Change to fixed to ensure it applies to each PDF page */
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: url('http://localhost:8181/logo.svg') no-repeat center center;*/
    /* inline svg by encoding svg data */
    background: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%22260%22%20height%3D%22318%22%20viewBox%3D%220%200%20260%20318%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20opacity%3D%220.08%22%20clip-path%3D%22url%28%23clip0_11128_30749%29%22%3E%0A%3Cpath%20d%3D%22M25.61%20317.1L21.49%20310.93H18.16V317.1H13.92V297.84H22.72C27.26%20297.84%2029.98%20300.23%2029.98%20304.2V304.25C29.98%20307.36%2028.3%20309.31%2025.86%20310.22L30.56%20317.1H25.61ZM25.69%20304.41C25.69%20302.59%2024.43%20301.66%2022.36%20301.66H18.15V307.19H22.44C24.5%20307.19%2025.69%20306.09%2025.69%20304.47V304.41Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M37.6407%20317.1V297.84H52.1707V301.61H41.8507V305.52H50.9307V309.29H41.8507V313.33H52.3007V317.1H37.6407Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M74.2607%20317.1L72.5107%20312.81H64.4307L62.6807%20317.1H58.3907L66.5807%20297.84H70.4507L78.6407%20317.1H74.2507H74.2607ZM68.3907%20302.79L65.8307%20309.03H70.9507L68.3907%20302.79Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M85.4493%20317.1V297.84H89.6893V313.24H99.2893V317.1H85.4493Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M118.381%20317.1V297.84H132.911V301.61H122.591V305.52H131.671V309.29H122.591V313.33H133.051V317.1H118.391H118.381Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M147.49%20317.37C144.57%20317.37%20141.63%20316.35%20139.32%20314.28L141.82%20311.28C143.56%20312.71%20145.37%20313.62%20147.57%20313.62C149.3%20313.62%20150.35%20312.93%20150.35%20311.8V311.75C150.35%20310.67%20149.69%20310.13%20146.47%20309.3C142.6%20308.31%20140.09%20307.23%20140.09%20303.42V303.36C140.09%20299.87%20142.89%20297.56%20146.83%20297.56C149.64%20297.56%20152.03%20298.44%20153.98%20300.01L151.78%20303.2C150.07%20302.02%20148.39%20301.3%20146.78%20301.3C145.17%20301.3%20144.3%20302.05%20144.3%20302.98V303.03C144.3%20304.3%20145.13%20304.71%20148.46%20305.56C152.36%20306.58%20154.57%20307.98%20154.57%20311.34V311.39C154.57%20315.21%20151.66%20317.36%20147.5%20317.36L147.49%20317.37Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M170.8%20301.739V317.099H166.56V301.739H160.69V297.829H176.65V301.739H170.79H170.8Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M198.1%20317.1L196.35%20312.81H188.27L186.52%20317.1H182.23L190.42%20297.84H194.3L202.49%20317.1H198.1ZM192.23%20302.79L189.67%20309.03H194.79L192.24%20302.79H192.23Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M218%20301.739V317.099H213.76V301.739H207.9V297.829H223.86V301.739H218Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M230.93%20317.1V297.84H245.46V301.61H235.14V305.52H244.22V309.29H235.14V313.33H245.59V317.1H230.93Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M13.92%20253.2V174.3H73.42V189.73H31.16V205.75H68.35V221.19H31.16V237.76H73.99V253.2H13.92Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M150.239%20244.58L143.529%20234.76L136.859%20225.02C146.899%20221.29%20153.769%20213.3%20153.769%20200.56V200.33C153.769%20184.1%20142.619%20174.3%20124.009%20174.3H87.9493V246.19C87.9493%20251.5%2092.2493%20253.2%2097.5593%20253.2H105.309V227.95H118.939L132.939%20248.85L133.179%20249.21C134.879%20251.62%20137.679%20253.2%20140.859%20253.2H156.129L150.229%20244.58H150.239ZM136.189%20201.46C136.189%20208.1%20131.349%20212.61%20122.889%20212.61H105.319V189.96H122.559C131.009%20189.96%20136.199%20193.79%20136.199%20201.24V201.47L136.189%20201.46Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M212.011%20174.3H196.131L170.541%20234.45L164.921%20247.64L162.561%20253.2H173.651C177.631%20253.2%20181.061%20250.78%20182.521%20247.33L182.541%20247.3L187.301%20235.63H220.431L227.591%20253.21H245.611L212.031%20174.31L212.011%20174.3ZM193.441%20220.11L203.851%20194.69L214.251%20220.11H193.431H193.441Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M245.59%20267.64H13.9199V283.42H245.59V267.64Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M127.76%203.9V107.04L2%20163.84V94.3L127.76%203.9ZM129.76%200L0%2093.28V166.94L129.76%20108.33V0Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20d%3D%22M259.52%20166.94L129.75%20108.33V0L259.52%2093.28V166.94Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_11128_30749%22%3E%0A%3Crect%20width%3D%22260%22%20height%3D%22318%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A ') no-repeat center center;

    background-size: auto 50%; /* Set the height to 50% of the page height */
    width: 100%;
    height: 100%;
}

.description {
    padding-top: 10px;
    width: 100%;
    text-align: left;
    font-size: 12px;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.block {
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.block .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.content {
    page-break-after: always;
}

/* Ensure maximum 5 block per page */
/*.block:nth-of-type(5n) {*/
/*    page-break-after: always;*/
/*}*/

/*.block:nth-child(5n) {*/
/*    page-break-after: always;*/
/*}*/
